*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 1em;
  place-items: center;
}

button {
  font-family: monospace;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.5em;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.card {
  max-width: 50vw;
  padding: 1rem;
  border: 3px solid black;

  container-name: card;
  --card-theme: regular;

  @container card style(--card-theme: colors) {
    h2 {
      color: rgb(255, 0, 55);
    }
    p {
      color: rgb(0, 183, 255);
      font-weight: bold;
    }
    button {
      background-color: rgb(118, 185, 18);
      font-weight: bold;
    }
  }
  /* @container card style(--card-theme: colors2) {
    h2 {
      color: rgb(0, 183, 255);
    }
    p {
      color: rgb(118, 185, 18);
      font-weight: bold;
    }
    button {
      background-color: rgb(255, 0, 55);
      font-weight: bold;
    }
  } */
}

/* inline styling */

/* .card:nth-of-type(1) {
  --card-theme: colors;
} */
/* .grid-container:has(:nth-child(5)) .card {
  --card-theme: colors;
} */

/* .card:has(:checked) {
  --card-theme: colors;
} */

/* .card:nth-of-type(2) {
  --card-theme: colors2;
} */
